body{
    margin: 0 !important;
    font-family: Tahoma, sans-serif;
}

.todoapp{
   
    background:#b52ef4 ; 
    height: 100vh;
    width: 100vw;
}



.todoAppContainer{
    
    margin-top: 100px ;
    border: 1px solid gray ; 
    background :#fff !important; 
    min-height: 400px;
    min-width: 400px;
    max-height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
}

.todoAppTitle{
    color  :  #b52ef4;
    text-align: center;
    
}

.todoInput{
    margin-right: 10px;
    padding: 10px;
    width: 65%
}

.todoList{
    margin-left: -50px;
}


.updateButton{
    color: white !important;
    padding : 10px !important; 
    background: tomato !important;
    margin-left: 10px !important;
}



.addButton {

    color: white !important;
    padding : 10px !important; 
    background: #b52ef4 !important;
    margin-left: 10px !important;
    font-weight: bold !important;
}

.deleteIcon{
    margin-left: 10px !important;
    color: tomato !important;
}

label.checked {
    text-decoration: line-through !important;
    
    color: gray;
    padding-top: -2px;
}

label.not-checked{
    text-decoration: initial;
    color: initial;
}